* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans 18pt";
  font-family: "Inter 18pt";
}

html {
  font-size: 20px;
}
.main-container {
  height: 100%;
}
a {
  text-decoration: none;
}
select {
  outline: none;
}

.left-side-container-wrapper {
  flex: 0;
}

.left-side-container-wrapper .logo-container-wrapper {
  border-bottom: 1px solid #ebebf5;
}

.left-side-container-wrapper .logo-container-wrapper .logo-icon img {
  width: 1.6rem;
  height: 1.6rem;
}

.left-side-container-wrapper
  .logo-container-wrapper
  .nav-collapse-icon-wrapper
  a::after {
  content: "<";
}

.left-side-container-wrapper .logo-container-wrapper.collapse-div .logo-name {
  display: none;
  max-width: 0;
}
.left-side-container-wrapper
  .logo-container-wrapper.collapse-div
  .nav-collapse-icon-wrapper
  a::after {
  content: ">";
}

.left-side-container-wrapper
  .logo-container-wrapper.collapse-div
  .nav-collapse-icon-wrapper {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  position: absolute;
  top: 0.5%;
  left: 3rem;
  background-color: #ffffff;
}

.left-side-container-wrapper
  .sidebar-container-wrapper.collapse-div
  .right-side-nav-name-container-wrapper {
  display: none;
}

.left-side-container-wrapper .logo-container-wrapper .logo-icon {
  padding: 0.8rem;
  background-color: #f7f7fc;
}

.left-side-container-wrapper .logo-container-wrapper .logo-name {
  width: 248px;
  padding: 0.7rem 1.2rem;
  font-weight: 600;
  font-size: 0.78rem;
  line-height: 1.4rem;
  display: flex;
  align-items: center;
  margin-right: 0.8rem;
}

.left-side-container-wrapper
  .logo-container-wrapper
  .nav-collapse-icon-wrapper {
  width: 0.8rem;
  height: 1.4rem;
  background-color: #f7f7fc;
  margin: 0.9rem 0;
  padding-right: 0.1rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.left-side-container-wrapper
  .logo-container-wrapper
  .nav-collapse-icon-wrapper
  a {
  font-size: 0.6rem;
  color: #585874;
}
.sidebar-container-wrapper {
  height: 100%;
}

.left-side-container-wrapper
  .sidebar-container-wrapper
  .left-side-image-container-wrapper {
  padding-top: 1.2rem;
  background-color: #f7f7fc;
}

.left-side-container-wrapper
  .sidebar-container-wrapper
  .left-side-image-container-wrapper
  .image-wrapper:hover::before {
  content: "";
  position: absolute;
  top: -0.6rem;
  right: 0;
  width: 0.6rem;
  height: 0.6rem;
  background-image: url("../images/top_corner.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.left-side-container-wrapper
  .sidebar-container-wrapper
  .left-side-image-container-wrapper
  .image-wrapper:hover::after {
  content: "";
  position: absolute;
  bottom: -0.6rem;
  right: 0;
  width: 0.6rem;
  height: 0.6rem;
  background-image: url("../images/bottom_corner.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.left-side-container-wrapper
  .sidebar-container-wrapper
  .left-side-image-container-wrapper
  .image-wrapper:hover::after {
  content: "";
}

.left-side-container-wrapper
  .sidebar-container-wrapper
  .left-side-image-container-wrapper
  .image-wrapper:hover {
  position: relative;
  background-color: white;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  border-top-right-radius: -1.2rem;
  border-bottom-right-radius: -1.2rem;
  content: "";
}

.left-side-container-wrapper
  .sidebar-container-wrapper
  .left-side-image-container-wrapper
  .image-wrapper {
  padding: 0.95rem;
}

.left-side-container-wrapper
  .sidebar-container-wrapper
  .left-side-image-container-wrapper
  .image-wrapper
  img {
  width: 1.3rem;
  height: 1.3rem;
}

.left-side-container-wrapper
  .sidebar-container-wrapper
  .right-side-nav-name-container-wrapper {
  padding: 1.2rem;
}

.left-side-container-wrapper
  .sidebar-container-wrapper
  .right-side-nav-name-container-wrapper
  .right-sidebar-header-name {
  font-weight: 600;
  line-height: 0.9rem;
  font-size: 0.6rem;
  color: rgba(171, 171, 194, 1);
  margin-bottom: 0.8rem;
}

.left-side-container-wrapper
  .sidebar-container-wrapper
  .right-side-nav-name-container-wrapper
  .sidebar-name-div-wrapper {
  padding: 0.45rem 0;
  gap: 0.5rem;
  align-items: center;
}

.left-side-container-wrapper
  .sidebar-container-wrapper
  .right-side-nav-name-container-wrapper
  .sidebar-name-div-wrapper
  .sidebar-name {
  font-weight: 500;
  line-height: 1.1rem;
  font-size: 0.7rem;
  color: rgba(88, 88, 116, 1);
  width: 206px;
}

.right-side-container-wrapper {
  background-color: #f7f7fc;
  flex: 1;
}

.left-side-container-wrapper
  .sidebar-container-wrapper
  .right-side-nav-name-container-wrapper
  .sidebar-name-div-wrapper
  img {
  width: 0.8rem;
  height: 0.8rem;
  margin-left: auto;
}

.left-side-container-wrapper
  .sidebar-container-wrapper
  .right-side-nav-name-container-wrapper
  .btn-wrapper {
  margin-top: 0.8rem;
  gap: 0.3rem;
  color: rgba(48, 48, 211, 1);
  padding: 0.45rem 2.15rem;
  background-color: rgba(235, 235, 254, 1);
  border-radius: 0.4rem;
  justify-content: center;
}

.left-side-container-wrapper
  .sidebar-container-wrapper
  .right-side-nav-name-container-wrapper
  .btn-wrapper
  .plus-icon
  img {
  width: 0.9rem;
  height: 0.9rem;
}

.left-side-container-wrapper
  .sidebar-container-wrapper
  .right-side-nav-name-container-wrapper
  .btn-wrapper
  .btn-text
  a {
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 1.1rem;
}

.right-side-container-wrapper .navbar-section-wrapper {
  padding: 0.8rem 2rem;
  width: 100%;
  justify-content: end;
  gap: 1.2rem;
  border-bottom: 1px solid #ebebf5;
}

.right-side-container-wrapper .navbar-section-wrapper .image-wrapper img {
  width: 1rem;
  height: 1rem;
}

.right-side-container-wrapper
  .navbar-section-wrapper
  .navbar-user-selection-wrapper
  .user-icon
  img {
  width: 1.6rem;
  height: 1.6rem;
}

.custom-select-wrapper {
  position: relative;

  display: inline-block;
}

.custom-select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 1.2rem;
  border: 0;
  background-color: transparent;
  background-image: none;
  padding-right: 1rem;
  padding-left: 0.4rem;
}

.custom-select-wrapper::after {
  content: "";
  position: absolute;
  top: 35%;
  right: 0px;
  width: 0.6rem;
  height: 0.6rem;
  background: url("../images/arrow_down.png") no-repeat center;
  background-size: contain;
  pointer-events: none;
}

.right-side-container-wrapper .right-side-main-content-wrapper {
  padding: 2rem;
}

.right-side-container-wrapper .right-side-main-content-wrapper .header-wrapper {
  padding-bottom: 0.4rem;
  align-items: center;
  flex-wrap: wrap;
}
.scrollable-wrapper {
  gap: 1.2rem;
}

.objective-detail-table thead th,
.prioritized-tasks-table thead th,
.kpi-table thead th {
  padding: 0.8rem 0 0.8rem 0.8rem;
}

.objective-detail-table thead th .table-header-name,
.prioritized-tasks-table thead th .table-header-name,
.kpi-table thead th,
.table-header-name {
  font-weight: 600;
  font-size: 0.6rem;
  line-height: 0.9rem;
  color: rgba(171, 171, 194, 1);
  height: auto;
}

.collapsible-tr {
  margin-bottom: 0.6rem;
}
tbody th,
tbody td {
  padding: 0 !important;
}
table {
  margin-bottom: 0 !important;
}

.hidden-tr td {
  background-color: #ffffff !important;
}

th.visible-border-td,
td.visible-border-td {
  position: relative;
  vertical-align: top;
}

td.visible-border-td::after,
th.visible-border-td::after {
  content: "";
  position: absolute;
  top: 1.05rem;
  bottom: 1.05rem;
  right: 0;
  width: 1px;
  background: rgba(36, 35, 35, 0.089);

  height: 0.7rem;
}

td.border-td {
  position: relative;
  vertical-align: top;
}

.progress-percent {
  font-size: 0.7rem;
  line-height: 1.1rem;
  font-weight: 500;
}
.arrow-icon {
  width: 0.9rem;
  height: 0.9rem;
  background-image: url("/assets/images/obj_arrow_down.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s;
}
.kpi-header-wrapper-img .arrow-icon {
  background-image: url("/assets/images/obj_arrow_up.png");
  margin-right: 0.9rem;
}
.kpi-header-wrapper-img.hide-kpi-div .arrow-icon{
  background-image: url("/assets/images/obj_arrow_down.png");

}
.kpi-tr .arrow-icon{
  display:none;
}
.kpi-tr.collapse-kpi-tr .kpi-detail-collapase-td-wrapper .arrow-icon {
  display:block;
  position:absolute;
  left:0.5rem;
  top:35%;
  background-image: url("/assets/images/obj_arrow_up.png");
}
.p-t-wrapper-img .arrow-icon {
  background-image: url("/assets/images/obj_arrow_up.png");
}
.p-t-wrapper-img.hide-p-t-div .arrow-icon{
    background-image: url("/assets/images/obj_arrow_down.png");

}
.collapsible-tr.open-object-active .arrow-icon {
  background-image: url("/assets/images/obj_arrow_up.png");
}
.hidden-tr {
  display: none;
}
.hidden-tr.hidden-tr-visible {
  display: table-row;
}

td.border-td::after {
  content: "";
  position: absolute;
  top: 1.05rem;
  bottom: 1.05rem;
  right: 0;
  width: 1px;
  background: rgba(36, 35, 35, 0.089);
}

.show-more-wrapper a {
  font-weight: 600;
  font-size: 0.6rem;
  line-height: 1.2rem;
  color: rgba(48, 48, 211, 1);
}
.right-side-container-wrapper
  .right-side-main-content-wrapper
  .header-wrapper
  .setting-wrapper
  .setting-name {
  font-weight: 600;
  font-size: 0.6rem;
  line-height: 0.9rem;
  color: rgba(48, 48, 211, 1);
}

.right-side-container-wrapper
  .right-side-main-content-wrapper
  .section-name-wrapper {
  width: 100%;
  border-bottom: 1px solid #ebebf5;
  padding-top: 0.4rem;
  flex-wrap: wrap;
  margin-bottom: 0.6rem;
}

.right-side-container-wrapper
  .right-side-main-content-wrapper
  .section-name-wrapper
  .section-title {
  padding: 0.6rem;
}

.right-side-container-wrapper
  .right-side-main-content-wrapper
  .section-name-wrapper
  .section-title
  a {
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: rgba(88, 88, 116, 1);
}

.right-side-container-wrapper
  .right-side-main-content-wrapper
  .header-wrapper
  .header-name {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.7rem;
}

.right-side-container-wrapper
  .right-side-main-content-wrapper
  .header-wrapper
  .setting-wrapper {
  gap: 0.2rem;
  align-items: center;
  background-color: rgba(235, 235, 254, 1);
  padding: 0.15rem 0.45rem;
  border-radius: 0.3rem;
  height: fit-content;
}

.right-side-container-wrapper
  .right-side-main-content-wrapper
  .header-wrapper
  .setting-wrapper
  .setting-icon {
  height: fit-content;
}

.right-side-container-wrapper
  .right-side-main-content-wrapper
  .header-wrapper
  .setting-wrapper
  .setting-icon {
  width: 0.7rem;
  height: 0.7rem;
}

@media screen and (max-width: 1250px) {
  html {
    font-size: 0.95rem;
  }
  .left-side-container-wrapper .logo-container-wrapper .logo-name {
    width: 100%;
    max-width: 100%;
  }
  .left-side-container-wrapper
    .logo-container-wrapper
    .nav-collapse-icon-wrapper {
    margin-left: auto;
  }
  .left-side-container-wrapper
    .sidebar-container-wrapper
    .right-side-nav-name-container-wrapper
    .sidebar-name-div-wrapper
    .sidebar-name {
    width: max-content;
    max-width: 100%;
  }
  .left-side-container-wrapper
    .sidebar-container-wrapper
    .right-side-nav-name-container-wrapper
    .btn-wrapper {
    padding: 0.45rem 1.15rem;
  }
  .left-side-container-wrapper
    .sidebar-container-wrapper
    .right-side-nav-name-container-wrapper
    .sidebar-name-div-wrapper {
    gap: 1.2rem;
  }
}

@media screen and (max-width: 990px) {
  .right-side-container-wrapper .right-side-main-content-wrapper {
    padding: 1.3rem;
  }
  .left-side-container-wrapper
    .sidebar-container-wrapper
    .right-side-nav-name-container-wrapper {
    padding: 0.5rem;
  }
  .left-side-container-wrapper .logo-container-wrapper .logo-name {
    padding: 0.5rem;
  }
  .left-side-container-wrapper
    .sidebar-container-wrapper
    .right-side-nav-name-container-wrapper
    .sidebar-name-div-wrapper {
    gap: 0.8rem;
  }
  .left-side-container-wrapper .logo-container-wrapper .logo-icon {
    padding-right: 0.4rem;
    background-color: #f7f7fc;
  }
  .left-side-container-wrapper
    .sidebar-container-wrapper
    .left-side-image-container-wrapper
    .image-wrapper {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .right-side-container-wrapper
    .right-side-main-content-wrapper
    .section-name-wrapper
    .section-title {
    padding: 0.4rem;
  }
}
@media screen and (max-width: 780px) {
  html {
    font-size: 15px;
  }

  .left-side-container-wrapper .logo-container-wrapper .logo-name {
    display: none !important;
  }

  .left-side-container-wrapper
    .logo-container-wrapper
    .nav-collapse-icon-wrapper {
    position: fixed;
  }

  .right-side-nav-name-container-wrapper {
    display: none;
  }
  .left-side-container-wrapper
    .logo-container-wrapper.collapse-div
    .nav-collapse-icon-wrapper,
  .left-side-container-wrapper
    .logo-container-wrapper
    .nav-collapse-icon-wrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    position: absolute;
    top: 0;
    left: 3rem;
    background-color: #ffffff;
    padding: 1rem 0.5rem;
    margin: 0.6rem 0;
  }
  .left-side-container-wrapper
    .logo-container-wrapper
    .nav-collapse-icon-wrapper
    a {
    font-size: 0.7rem;
    color: #585874;
  }
  .left-side-container-wrapper
    .sidebar-container-wrapper.collapse-div
    .right-side-nav-name-container-wrapper {
    top: 52px;
    position: fixed;
    display: block !important;
    background-color: #f7f7fc;
    height: 100%;
    left: 40px;
    z-index: 1;
  }
}
